<!DOCTYPE html>
<html>
<head>
    <title></title>
    #parse("sys/header.html")
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
        <Row :gutter="16">
            <div class="search-group">
                <i-col span="4">
                    <i-input v-model="q.name" @on-enter="query" placeholder="名称"/>
                </i-col>
                <i-button @click="query">查询</i-button>
                <i-button @click="reloadSearch">重置</i-button>
            </div>
        </Row>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>

    <!--弹出模态框-->
    <Card id="sendDiv" v-show="showUserDetail">
        <i-form ref="formValidate" :label-width="100" :model="outStorage">
            <Form-item label="出库类型" prop="type">
                <Radio-group v-model="outStorage.isOutstorage">
                    <Radio label="2">
                        <span>正常</span>
                    </Radio>
                    <Radio label="3">
                        <span>腐损</span>
                    </Radio>
                </Radio-group>
            </Form-item>
            <!--<Form-item  prop="checkcomment">-->
                <!--<i-input type="textarea" v-model="outStorage.checkcomment"/>-->
            <!--</Form-item>-->
            <Form-item>
                <i-button type="primary" @click="saveCheckComment">提交</i-button>
                <i-button type="warning" @click="reload"/>返回</i-button>
            </Form-item>
        </i-form>

    </Card>
</div>

<script src="${rc.contextPath}/js/shop/outstorage.js?_${date.systemTime}"></script>
</body>
</html>